.about{
    .overlay{
        width: 100%;
        height: 100%;
        padding-top: 70px;
        padding-bottom: 70px;
        background-color: rgba(255, 255, 255, 0.9);
        @media (max-width: 991px){
          .header-details {
          font-size: 11px;
          }
      }
        .bottom-content{
          @media (max-width: 768px) {
            #container{
              padding: 0;
            }
          }
            .header h1{
                text-align: center;
                background: -webkit-linear-gradient(#e3ca66, #b48e47);
                font-size: 4.5em;
                font-family: 'Parisienne', cursive;
                margin-bottom: 15px;
            }
            .header p {
                text-align: center;
                background: -webkit-linear-gradient(#e3ca66, #b48e47);
                font-weight: 700;
                font-size: 20px;
            }
            
            .grid-item {
                display: inline-block;
                height: fit-content;
                overflow: hidden;
                text-align: center;
                width: 25%;
                position: relative;
                @media (max-width: 767px) {
                  left: 0;
                  width: 50%;
                }
                  &img{
                    width: 100%;
                    height: auto;
                    transition: 0.9s;
                    }
                    &:hover img{
                        transform: scale(1.55,1.55) rotate(-20deg);

                    }
                &:hover .overlay{
                  opacity: 1;
                        background-color: rgba(97,94,90,.9);
                }
                .overlay {
                  // position: absolute; 
                  // bottom: 0; 
                  // background: rgb(0, 0, 0);
                  // background: rgba(0, 0, 0, 0.5); /* Black see-through */
                  // color: #f1f1f1; 
                  // width: 100%;
                  // transition: .5s ease;
                  // opacity:0;
                  // color: white;
                  // font-size: 20px;
                  // padding: 20px;
                  text-align: center;
                  
    
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  opacity: 0;
                  display: block;
                  margin: auto 0;
                  transform: scale(1);
                  overflow: hidden;
                  padding-top: 30%;
                  transition: all .5s ease;
                  p{
                    color: #fff;
                  }
                }
            }
            // .grid-item img:hover{
            //     filter: none;
            // }
            
            .isotope-pager .pager {
              display: inline-block;
            }
            .filters {
                width: 100%;
                text-align: center;
                padding-top:20px;
                
            }
            
            .filters ul {
                list-style: none;
                padding: 20px 10px;
                margin: 0 40px;
                border-radius: 30px;
            }
            
            .filters li {
                display: inline-block;
                padding: 10px 25px;
                font-size: 15px;
                font-weight: 600;
                cursor: pointer;
                @media (max-width: 680px) {
                  padding: 10px;
                }
                .hover-effect:before {
                    width: 20px;
                    text-align: right;
                    margin-right: 5px;
                    margin-left: -25px;
                    content: '[';
                    transform: translateX(20px);
                  }
                  .hover-effect::after {
                    width: 20px;
                    text-align: left;
                    margin-left: 5px;
                    margin-right: -25px;
                    content: ']';
                    transform: translateX(-20px);
                  }
                  .hover-effect::after, .hover-effect::before {
                    display: inline-block;
                    opacity: 0;
                    transition: transform .3s,opacity .2s;
                  }
                  .hover-effect:not(.active):hover::after, .hover-effect:not(.active):hover::before {
                    opacity: 1;
                    transform: translateX(0px);
                  }
            }
            .filters li a{
                color: #434343;
                text-decoration: none;
                @media (max-width: 991px) {
                  font-size: 11px;
                }
            }   
            .filters li.active a{
                padding: 10px 25px;
                color: #cb875f;
                @media (max-width: 680px) {
                  padding: 10px;
                }
            }

        }
    }
}