#one{
    width: 100%;
    height: auto;
    pointer-events: none;
    display: block;
    .view {
        width: 100%;
        .bg{
            width: 100%;
            top:0;
            left: 0;
            pointer-events: none;
            display: block;
            background-position: center center;
            background-size: cover;
          }
        .content{
          position: absolute;
          transition: transform .5s;
          top: 35%;
          .content-body{
            text-align: right;
            position: relative;
            padding-left: 10rem;
            z-index: 1030;
            top: -50%;
            left: 0;
            transform: translateY(-50%);
    
            p{
              letter-spacing: 2px;
              .button {
                border-style: solid;
                border-width: 1px;
                line-height: 22px;
                padding: 8px 12px;
                text-align: center;
                font-size: 13px;
                font-weight: 400;
                letter-spacing: 2px;
                text-decoration: none;
                text-transform: uppercase;
                display: inline-block;
                color: #fff;

                &:before {
                  content: '';
                  position: absolute;
                  transition: all .3s;
                  width: 100%;
                  height: 0;
                  top: 50%;
                  left: 50%;
                  opacity: 0;
                  transform: translateX(-50%) translateY(-50%);
                  background-color: rgba(255,255,255,.13);
                }
              }
            }
            .myText {
                text-align: right;
              }
          }
      }
      
    }
}


#masterDominoNav {
  .modal-dialog {
      max-width: 100%;
      margin: 0;
      height: 100%;
  }

  .btn-close:focus {
      outline: 0;
      box-shadow: none;
  }

  .modal-content {
      background: #000;
      height: 100%;
  }

  .modal-body {
      padding-top: 0;
  }

  .navbar-head {
      margin-bottom: 25px;
      border-bottom: 1px solid #fff;
      padding: 5px;

      .menu_close_icon {
          width: 10%;

          .btn-close {

              i {
                  color: white;
                  font-size: 25px;
              }
          }
      }
  }
  
  .modal-body {
      .default-btn {
          width: 48.5%;
          display: inline-block;
          text-decoration: none;
          color: #fff;
          text-align: center;
          padding: 5px;
          font-size: 18px;
          height: 50px;
          border-radius: 3px;
          line-height: 42px;
          font-weight: 500;
      }
  }
}