.indicator{
    background-color: #141414;
    position: fixed;
    top: 0;
    right: 0;
    width: 20px;
    height: 100%;
    z-index: 99999;
    @media (max-width: 1249px) {
      display: none;
    }
    ul{
        list-style: none;
        position: fixed;
        z-index: 1030;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        width: 5px;
        margin: 0;
        padding: 0;
        transition: background-color .6s;
        li{
          display: block;
          width: 12px;
          height: 12px;
          color: #434343;
          border-radius: 50%;
          list-style: circle;
          a{
            display: block;
            width: 100%;
            height: 100%;
            padding: .2rem;
            color: #fff;
            text-decoration: none;
            border: 1px solid transparent;
      
            & span{
            background-color: #cb875f;
            display: block;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            transition: background-color .6s;
            }
      }
    }
    .active{
        a{
          width: 10px;
          height: 10px;
          margin-left: 1px;
          border-color: #cb875f;
          border-radius: 50%;
          span{
            background-color: #000000;
          }
        }
    }

      .colors{
          color: #767676;
      }
    }
  }



  .background-solid {
    background-color: #141414;
  }
  .left {
    left: 0;
    top: 0;
    bottom: 24px;
    width: 25px;
    border-right: 1px solid;
    border-right-color: rgba(255,255,255,.16);
  }
  .page-border {
    position: fixed;
    z-index: 1030;
    transition: all .5s;
    @media (max-width: 1249px) {
      display: none;
    }                                      
    ul{
        position: fixed;
        z-index: 1030;
        width: 25px;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        padding-left: 0;
        list-style: none;
        text-align: center;
        & li{
            text-align: center;
            padding: 3px 0;

           & a{
                color: #cb875f;
            }
        }
    }
  }

  section{
    color: #fff;
    text-align: center;
  }

 .page-border {
    border-color: rgba(255,255,255,.16);
  }
.footer-box{
  position: fixed;
  background-color: #141414;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  z-index: 99999;
  height: 25px;
  .page-border.bottom {
    position: fixed;
    right: 19px;
    left: 24px;
    border-top: 1px solid rgba(255, 255, 255, 0.16);
    text-align: center;
    font-weight: 800;
    text-transform: uppercase;
    padding-top: 2px;
    font-size: 12px;
    letter-spacing: 1px;
    border-left: none;
    border-right: none;
    .hover-effect:before {
      width: 20px;
      text-align: right;
      margin-right: 5px;
      margin-left: -25px;
      content: '[';
      transform: translateX(20px);
    }
    .hover-effect::after {
      width: 20px;
      text-align: left;
      margin-left: 5px;
      margin-right: -25px;
      content: ']';
      transform: translateX(-20px);
    }
    .hover-effect:after, .hover-effect:before {
      display: inline-block;
      opacity: 0;
      transition: transform .3s,opacity .2s;
    }
    .hover-effect:not(.active):hover:after, .hover-effect:not(.active):hover:before {
      opacity: 1;
      transform: translateX(0px);
      color: #dbab83;
    }
  }
}

  .colors-e {
    color: #767676;
  }

  #top-nav{
    font-family: 'Raleway',sans-serif;
    font-weight: 800;
    position: fixed;
    top: 0;
    left: 24px;
    right: 19px;
    z-index: 99999;
    background-color: #141414;
    border-bottom: 1px solid rgba(255,255,255,.16);
    @media (max-width: 1249px) {
      left: 0;
      right: 0;
    }
      .navbar-brand{
        color: #ffffff;
        font-size: 20px;
        letter-spacing: .9px;
        padding-top: 10px;
        padding-bottom: 10px;
      }

    .navbar-header {
        line-height: 68px;
        transition: all .5s;
        margin: 0;
      }
      
    .navigation {
        flex-basis: 70%;
        @media (max-width: 1199px) {
          flex-basis: 68%;
        }
        @media (max-width: 768px) {
          display: none;
        }
        ul{
            flex-direction: unset;
            li{
                line-height: 68px;
                transition: all .5s;
                letter-spacing: 3px;
                text-transform: uppercase;
                font-size: 12px;
                float: left;
                position: relative;
                display: block;
                padding: 0 10px;
                text-align: center;
                @media (max-width: 991px) {
                  font-size: 11px;
                  line-height: 30px;
                  font-weight: 700;
                  padding: 0 5px;
                }
                a{
                    line-height: 68px;
                    transition: all .5s;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    color: #cb875f;
                }
                a.active {
                    color: #fff;
                  }
                  .hover-effect:before {
                    width: 20px;
                    text-align: right;
                    margin-right: 5px;
                    margin-left: -25px;
                    content: '[';
                    transform: translateX(20px);
                  }
                  .hover-effect:after {
                    width: 20px;
                    text-align: left;
                    margin-left: 5px;
                    margin-right: -25px;
                    content: ']';
                    transform: translateX(-20px);
                  }
                  .hover-effect:after, .hover-effect:before {
                    display: inline-block;
                    opacity: 0;
                    transition: transform .3s,opacity .2s;
                  }
                  .hover-effect:not(.active):hover:after, .hover-effect:not(.active):hover:before {
                    opacity: 1;
                    transform: translateX(0px);
                  }
            }
            .hidden-xs{
                .menu-toggle {
                    height: 88px;
                    margin-left: 15px;
                    margin-right: 15px;
                  }
                  .ext-nav-toggle {
                    float: right;
                  }
            }
        }
        .navbar-right {
            float: right !important;
            margin-right: -15px;
          }
      }
      // .modal-box{
      //   flex-basis: 18%;
      //   text-align: right;
      //   @media (max-width: 1199px) {
      //     .btn.btn-primary {
      //       font-size: 12px;
      //     }
      //   }
      // }

      .toggle-nav{
        display: flex;
        margin-left: 30%;
        cursor: pointer;
        margin-top: 5px;

        #toggle {
          width: 28px;
          height: 25px;
          margin: 10px auto;
        }
        
        #toggle div {
          width: 100%;
          height: 2px;
          background: #ffffff;
          margin: 4px auto;
          transition: all 0.3s;
          backface-visibility: hidden;
        }
        
        #toggle.on .one {
          transform: rotate(45deg) translate(2px, 2px);
        }
        
        #toggle.on .two {
          opacity: 0;
        }
        
        #toggle.on .three {
          transform: rotate(-45deg) translate(6px, -7px);
        }
        
        #menu {
          position: absolute;
          left: 0;
          top: 75%;
          color: white;
          border: 1px solid white;
          width: 100%;
          height: 60vh;
          padding: 10px;
          background-color: #ffffff;
          border-radius: 3px;
          line-height: 100px;
          text-align: center;
          margin: auto;
          display: none;
          .menu_ul{
            text-align: left;
            li{
              line-height: 50px;
              transition: all .5s;
              letter-spacing: 3px;
              text-transform: uppercase;
              font-size: 12px;
              float: left;
              position: relative;
              display: block;
              padding: 0 10px;
              a{
                  font-size: 13px;
                  line-height: 50px;
                  font-weight: 500;
                  transition: all .5s;
                  padding-top: 10px;
                  padding-bottom: 10px;
              }
              a.active {
                  color: #cb875f;
                }
                .hover-effect:before {
                  width: 20px;
                  text-align: right;
                  margin-right: 5px;
                  margin-left: -25px;
                  content: '[';
                  transform: translateX(20px);
                }
                .hover-effect:after {
                  width: 20px;
                  text-align: left;
                  margin-left: 5px;
                  margin-right: -25px;
                  content: ']';
                  transform: translateX(-20px);
                }
                .hover-effect:after, .hover-effect:before {
                  display: inline-block;
                  opacity: 0;
                  transition: transform .3s,opacity .2s;
                }
                .hover-effect:not(.active):hover:after, .hover-effect:not(.active):hover:before {
                  opacity: 1;
                  transform: translateX(0px);
                }
          }
          }
        }

        @media (min-width: 769px) {
          display: none;
        }
      }
  }
  
