// html,
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800&display=swap');
body {
  font-family: 'Raleway', sans-serif;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
    outline: 0;
    overflow-x: hidden;
    font-size: 13px;
    line-height: 22px;
}
iframe {
  border: none;
}

h2, h3, h4, h5 {
  font-weight: 700;
}

h2 {
  font-size: 70px;
  line-height: 84px;
  @media (max-width: 991px){
    font-size: 35px;
    line-height: 48px;
  }
}
h1, h2, h3 {
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  margin-top: 20px;
  margin-bottom: 10px;
  text-transform: uppercase;
}
p {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 11px;
  margin: 0 0 10.5px;
}

a {
  color: #303030;
  -webkit-transition: 0.15s ease-in-out;
  -o-transition: 0.15s ease-in-out;
  transition: 0.15s ease-in-out;
}

a:hover,
a:link,
a:visited,
a:active {
  color: #303030;
  text-decoration: none;
}

a:active,
a:focus,
a:visited,
button:active,
button:focus,
button:visited {
  outline: 0;
}

.btn:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  outline: 0;
}

.btn:hover {
  color: #fff;
  text-decoration: none;
}


ul {
  margin: 0;
  padding: 0;
}

.input-group-append {
  margin-left: 0px;
}


.form-group {
  margin-bottom: 25px;
}

label {
  display: block;
  margin-bottom: 10px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 14px;
  text-transform: capitalize;
  cursor: pointer;
  font-weight: 400;
  color: #303030;
}

.form-control {
  background-color: #EFEFEF;
  border: 1px solid transparent;
  color: #303030;
  width: 100%;
  font-size: 16px;
  height: 37px;
  padding: 0 13px;
  border-radius: 4px;
  outline: 0;
  border: 1px solid #FFFFFF;
}

.form-control:focus {
  background-color: #fff;
  border: 1px solid #08f;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input:focus,
textarea:focus,
select:focus,
.default-btn:focus,
a:link:focus {
  outline: 0;
}

.btn.focus,
.btn:focus,
.form-control:focus,
.form-control-input:focus {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

::-webkit-input-placeholder {
  color: rgb(255, 255, 255);
}

::-moz-placeholder {
  color: rgb(255, 255, 255);

}

::-ms-input-placeholder {
  color: rgb(255, 255, 255);
}

::placeholder {
  color: rgb(255, 255, 255);
}

@media (min-width:1400px) {
  .container{
    max-width: 1170px;
  }
}
.container{
  padding:0;
}



@include tablet{
  .col-lg-20 {
    flex: 0 0 auto;
    width: 20%;
  }
}
@media (max-width:575px) {
    .container{
      max-width: 86%;
    }
}
@media (max-width:480px) {
  .container{
    max-width: 88%;
  }
}
