.row {
    margin-left: 9px;
    margin-right: 5px;
  }
  .row:after, .row:before, .clearfix:before, .clearfix:after,
  .container-fluid:before,.container-fluid:after {
    content: " ";
    display: table;
  }
  .row:before, .row:after .clearfix:after, .clearfix:before,
  .container-fluid:before,.container-fluid:afte {
    clear: both;
  }
  
  @media (min-width: 992px){
    .col-md-offset-3 {
      margin-left: 25%;
    }
    
  }
  .col-xs-3 {
    width: 25%;
    @media (max-width: 991px) {
      width: 16.6666667%;
    }
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .row-fix{
    margin-left: 0;
    margin-right: 0;
  }
  .text-uppercase{
    text-transform: uppercase;
    font-weight: 700;
  }
  .text-center{
    text-align: center;
    color: #fff;
  }
  .text-left{
    text-align: left;
    text-transform: uppercase;
  }
  
  .pr{
    position: relative;
  }
  .banner-cell{
    padding-top: 10px;
    padding-bottom: 15px;
    text-align: center;
  }
  .colors-e {
    color: #767676;
    background-color: rgba(255,255,255,.93);
  }
  .colors-p {
    color: #dfdfdf;
  }
  .highlight{
    color: #dbab83;
  }
  .background-transparent{
    background-color: transparent;
  }
  .title, input.button {
    font-family: 'Raleway',sans-serif;
  }
  .title{
    text-transform: uppercase;
    margin-top: 0;
    font-size: 13px;
    line-height: 22px;
    font-weight: 700;
  }
  .home-alice-heading{
    font-size: 5vw;
    font-weight: 800;
    line-height: 90px;
    margin-top: 0;
    margin-bottom: 11px;
  }

  .heading-f{
    margin-left: 10px;
  }
  .border-color{
    border-left: 1px solid rgba(203,135,95,.16);
  }
  .light-font-weight{
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .underline-text {
    border-color: rgba(239, 239, 239, 0.5);
    border-bottom-style: solid;
    padding-bottom: 7px;
  }
  .colors-h{
    color:#efefef;
    background-color:rgba(14,14,15,.85);
   }
   .team-name{
     color: #434343;
   }
   .background-60-d {
    background-color: rgba(179,119,82,.6);
  }
  .background-60-f {
    background-color: rgba(38,40,51,.6);
  }
   .background-lite-c {
    background-color: rgba(41,36,31,.46806867);
  }
  .background-d {
    background-color: rgba(179,119,82,.82);
  }
  .background-25-b {
    background-color: rgba(97,94,90,.25);
  }
  .background-10-light {
    background-color: rgba(255,255,255,.1);
  }
  .background-35-h {
    background-color: rgba(14,14,15,.35);
  }
  .background-40 {
    background-color: rgba(33,30,28,.4);
  }
  .background-lite-e {
    background-color: rgba(255,255,255,.53085837);
  }
  .border-heading-b {
    border-color: rgba(255,255,255,.7);
  }
  .background-lite-b {
    background-color: rgba(97,94,90,.46806867);
  }
  .background-10-b {
    background-color: rgba(97,94,90,.1);
  }
  .background-95-h {
    background-color: rgba(14,14,15,.95);
  }
  
  .background-95-e {
    background-color: rgba(255,255,255,.95);
  }
  .background-95-f {
    background-color: rgba(38,40,51,.95);
  }
  .background-b {
    background-color: rgba(97,94,90,.82);
  }
  .bg-solid {
    background-color: #212124;
  }
  .nav {
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
  }
  .nav-tabs{
    border-bottom: 1px solid;
    border-bottom-color: rgba(57,57,57,.3);
  }
  // .tab-content {
  //   .tab-pane {
  //     display: none;
  //   }
  // }
  .fade {
    -webkit-transition: opacity .15s linear;
    -o-transition: opacity .15s linear;
    transition: opacity .15s linear;
  }
  .heading-b {
    color: #fff !important;
  }
  .big-font {
    font-size: 15px;
  }
  .uppercase {
    text-transform: uppercase;
  }
  .text-right{
    text-align: right;
  }
  .heading-b {
    color: #fff;
  }

  .button {
    margin-top: 20px;
    font-weight: 400;
    width: auto;
    color: #cb875f;
    border-style: solid;
    border-width: 1px;
    line-height: 22px;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
  }
  .colors-g {
    text-align: left;
    color: #afafaf;
    background-color: #212124;
    h4,h5{
      color: #fff;
    }
    a{
      color: #afafaf;
      &:hover{
        color: rgba(175,175,175,.75);
      }
    }
  }

  .fa-stack {
    background: #fff;
    padding: 7px;
    border-radius: 50%;
    color: #000;
  }
  .fa-brands, .fab {
    font-style: normal;
  }
  .button {
    position: relative;
    border-style: solid;
    border-width: 1px;
    line-height: 22px;
    padding: 8px 12px;
    text-align: center;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    color: #fff;
    &:hover{
      background-color: rgba(97,94,90,.46806867);
    }
    &:hover:before{
      height: 75%;
      opacity: 1;
    }

    &:before {
      content: '';
      position: absolute;
      transition: all .3s;
      width: 100%;
      height: 0;
      top: 50%;
      left: 50%;
      opacity: 0;
      transform: translateX(-50%) translateY(-50%);
      background-color: rgba(255,255,255,.13);
    }
  }

  .br{
    border-left: 1px solid rgba(255,255,255,.08);
    border-right: 1px solid rgba(255,255,255,.08);
    @media (max-width: 991px) {
    border-top: 1px solid rgba(255,255,255,.08);
    border-bottom: 1px solid rgba(255,255,255,.08);
    }
  }
  .full-para{
    @media (max-width: 991px) {
      width: 100%;
    }
  }

  .fonts-weight{
    font-weight: 100;
  }
  .white{
    color: #fff;
  }
  .padding-0{
    padding: 0;
    background-color: #0f0e0e;
  }
  .btns {
    display: flex;
    justify-content: center;
    align-items: center;
  }